{% extends 'base.html' %}
{% block title %}Contact{% endblock %}

{% block content %}
<section class="hero-section text-center">
    <h1 class="main-heading">📬 Let's Connect</h1>
    <p class="subtitle">Whether you want to collaborate, ask something, or just say hi — I'm always open!</p>

    <div class="container text-center">
        <div class="contact-card">

            <p><strong>📧 Email:</strong><br>
                <a href="mail to:bibekchoudhury570@gmail.com" class="icon-link">bibekchoudhury570@gmail.com</a>
            </p>

            <p><strong>💼 LinkedIn:</strong><br>
                <a href="https://www.linkedin.com/in/bibek-choudhury-42a219365?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank" class="icon-link">
                    linkedin.com/in/Bibek_choudhury
                </a>
            </p>

            <p><strong>💻 GitHub:</strong><br>
                <a href="https://share.google/Up4yXtlnvgWZvKmOV" target="_blank" class="icon-link">
                    github.com/Bibek_choudhury
                </a>
            </p>

        </div>
    </div>
</section>
{% endblock %}
